@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	background-image: url(../images/woodbg.jpg);
	background-color: #dddddd;
	color: #000;
	font-family: 'Ubuntu', sans-serif;
}
/* Formats the top banner. -John Bendfeldt jfbendfeldt@gmail.com*/
.banner {
	background-color: #0d4c06;
	color: #D9AF8B;
	height: 90px;
	width: 100% !important;
	top: 0px;
    letter-spacing: 0.05em;
    border-bottom: 5px solid #dddddd;
    text-align: center;
    margin: 0px !important;
    right: 0px !important;
    position: fixed;
	z-index: 999;
}

h1 {
	color: #D9AF8B;
	text-shadow:
			-1px -1px 0 #B86403,  
    		1px -1px 0 #B86403,
    		-1px 1px 0 #B86403,
     		1px 1px 0 #B86403;
    font-weight: 900;
    font-size: 48px;
}
/* Places the map on page with the apistuff. -JB */
#apistuff, 
#map {
	height: 300px;
	border: none;
	max-width: 300px
	margin: 5% 5%;
}
/* Formats user input section. -JB */
.user-input {
	overflow: auto;
	background-color: #D9AF8B;
	padding: 3%;
	border: 3px solid #dddddd;
	margin: 0px 15px 15px 15px;
}
/* Formats button appearance. -JB */
.buttons {
	border: none;
	border-radius: 3px;
	color: #D9AF8B;
	background-color: #0d4c06;
	margin: 3px 0px;
	padding: 5px 10px;
}

.buttons:hover {
	background-color: #dddddd;
	color: #000;
}

.buttons:active,
.buttons:focus {
	color: #D9AF8B !important;
	background-color: #000 !important;
	outline: none!important;
}

/* Sets top margin so banner doesn't cover any of the main content area. -JB */
.content {
	margin: 120px 0px 0px 0px;
}
/* Sets the table dimensions. -JB */
th {
	width: 7%;
}

table {
	margin: 5px auto;
}

table, th, td {
    border: 0.5px dashed #B86403;
}
/* A falling leaf pattern to go with the stump or woodland theme. -JB */
#leaves{
	background: none;
	background-image: url('../images/leaves2.png'), url('../images/leaves1.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
	-webkit-animation: leaves 30s linear infinite;
	-moz-animation: leaves 30s linear infinite;
	-ms-animation: leaves 30s linear infinite;
	animation: leaves 30s linear infinite;
}
/* Leaves change position over 30 seconds. -JB */
@keyframes leaves {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px;}
  100% {background-position: 500px 1000px, 200px 400px;}
}
@-moz-keyframes leaves {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, -100px 200px;}
  100% {background-position: 400px 1000px, -200px 400px;}
}
@-webkit-keyframes leaves {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, -100px 200px;}
  100% {background-position: 500px 1000px, -200px 400px;}
}
@-ms-keyframes leaves {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, -100px 200px;}
  100% {background-position: 500px 1000px, -200px 400px;}
}	