@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	background-image: url(../images/woodbg.jpg);
	background-size: 100%;
	background-color: #dddddd;
	color: #000;
	font-family: 'Ubuntu', sans-serif;
}

.banner {
	background-color: #000;
	color: #D9AF8B;
	height: 15%;
	width: 100%;
	top: 0px;
    letter-spacing: 0.05em;
    border-bottom: 5px solid #dddddd;
    text-align: center;
    margin: 0px;
    right: 0px;
    position: fixed;
	z-index: 999;
}

h1 {
	color: #D9AF8B;
	text-shadow:
			-1px -1px 0 #B86403,  
    		1px -1px 0 #B86403,
    		-1px 1px 0 #B86403,
     		1px 1px 0 #B86403;
    font-weight: 900;
    font-size: 48px;
}

#map {
	height: 300px;
	border: none;
	margin: 1% 1%;
	padding: 0px;
	width: 30%;
}

.user-input {
	margin: 1% 1%;
	overflow: auto;
	background-color: #D9AF8B;
	padding: 3%;
	border: 3px solid #dddddd;
}

button {
	color: #D9AF8B;
	background-color: #000;
	margin: 2.5px;
}

.btn:hover {
	background-color: #dddddd;
	color: #000;
}

.content {
	margin: 120px 0px 0px 0px;
}

th {
	width: 7%;
}

table {
	margin: 5px auto;
}

table, th, td {
    border: 0.5px dashed #B86403;
}
